extends ./layout

mixin BackendListPingView
  table.pure-table.pure-table-bordered
    thead: tr
      th #
      th Name
      th Address
      th Port
      th Ping
      th Node
      th OP
      th CreatedAt
    tbody
      tr(ng-repeat='backend in backendPage.data.backends')
        td(ng-bind='$index + 1')
        td(ng-bind='backend.name')
        td(ng-bind='backend.ip')
        td(ng-bind='backend.port')
        td(ng-bind='backend.ping')
        td(ng-bind='backend.id')
        td(ng-switch='backend.status')
          span(ng-switch-when='doing') ...
          span.glyphicons.glyphicons-ok-2(ng-switch-when='success')
          a.glyphicons.glyphicons-remove-2(href='javascript:;', ng-click='backendPage.deregister(backend)', ng-switch-default)
        td(ng-bind='backend.createdAt | date : "yyyy-MM-dd HH:mm:ss"')

mixin BackendListStatsView        
  table.pure-table.pure-table-bordered
    thead: tr
      th #
      th Name
      th Address
      th Port
      th Uptime
      th Node
      th OP
      th CreatedAt
    
    tr(ng-repeat='backend in backendPage.data.backends')
      td(ng-bind='$index + 1')
      td(ng-bind='backend.name')
      td(ng-bind='backend.ip')
      td(ng-bind='backend.port')
      td(ng-bind='backend.stats.uptime')
      td(ng-bind='backend.id')
      td(ng-switch='backend.status')
      td(ng-bind='backend.createdAt | date : "yyyy-MM-dd HH:mm:ss"')
      
block bodyContainer
  .backendPage(ng-controller='BackendPageController as backendPage')
    include ./nav
    header.headerContainer
      h3.text-center Backend
    
    .backendSelector
      each backendType in viewData.backendTypeList
        - var url = URL('/backend/' + backendType);
        a.pure-button(href='#{url}', ng-click='backendPage.selectType("#{backendType}")') #{backendType}
        
    p.text-center(ng-show='!backendPage.data.init') 正在初始化，请稍候...
    
    .backendList.hidden(ng-switch='backendPage.data.type', ng-class='{hidden : backendPage.data.init !== true}')
      p.text-center(ng-show='backendPage.data.status === "loading"') 正在加载数据，请稍候...
      div(ng-switch-when='http-ping', ng-if='backendPage.data.status === "success"')
        +BackendListPingView()
      div(ng-switch-when='http-stats', ng-if='backendPage.data.status === "success"')
        +BackendListStatsView()
      //- if viewData.error
      //-   p.text-center 加载backend信息发生错误
      //-   +Error(viewData.error)
      //- else if !viewData.backends || !viewData.backends.length
      //-   p.text-center 暂时没有任何backend的信息
      //- else
      //-   +BackendListPingView(viewData.backends) 
  
  
  - importer.import('/js/backend.js');
  - importer.import('/css/backend.css');
