extends ./layout
block bodyContainer
  .backendPage
    include ./nav
    header.headerContainer
      h3.text-center Backend
    .backendList.panel.panel-default
      .panel-heading 服务器列表
      
      if !viewData.backends || !viewData.backends.length
        .panel-body 暂无服务器信息
      else
        table.table
          thead: tr
            th #
            th 名称
            th IP
          tbody
            each backend, i in viewData.backends
              tr
                td #{i + 1}
                td #{backend.name}
                td #{backend.ip}
            
  - importer.import('/css/backend.css');
