extends ./layout

mixin EtcdNodeList
  .nodes.hidden(ng-class='{hidden : etcdPage.data.status !== "success"}')
    .path
      span.glyphicons.glyphicons-google-maps
      span(ng-repeat='path in etcdPage.data.paths')
        a(ng-bind='path', href='javascript:;', ng-click='etcdPage.showPath($index)')
        span.glyphicons.glyphicons-chevron-right(ng-if='!$last')
    .panel.panel-default(ng-repeat='node in etcdPage.data.nodes[etcdPage.data.currentPath]', ng-if='etcdPage.data.nodes[etcdPage.data.currentPath].length')
      .panel-heading
        .pull-right(ng-if='!node.status')
          span(ng-if='node.dir')
            a.glyphicons.glyphicons-plus(href='javascript:;', ng-click='etcdPage.addToDir(node.key)')
            a.glyphicons.glyphicons-remove-2(href='javascript:;', ng-click='etcdPage.del(node)')
            a.glyphicons.glyphicons-chevron-right(href='javascript:;', ng-click='etcdPage.show(node)')
          span(ng-if='!node.dir')
            a.glyphicons.glyphicons-edit(ng-if='!node.modifing', href='javascript:;', ng-click='node.modifing = true')
            a.glyphicons.glyphicons-remove-2(href='javascript:;', ng-click='etcdPage.del(node)')
        .pull-right(ng-if='node.status')
          .loading &nbsp;
        .panel-title(ng-bind='::node.key')
      .panel-body(ng-if='!node.dir')
        pre(ng-bind='node.value', ng-hide='node.modifing')
        jt-code-mirror(ng-if='node.modifing', on-save='etcdPage.modify(value)', on-cancel='etcdPage.cancelModify()', jt-value='node.value')
    .panel(ng-if='!etcdPage.data.nodes[etcdPage.data.currentPath].length')
      p.text-center.noData 该节点暂无数据，请先添加
    

mixin AddNodeContainer
  .row.clearfix
    .col-xs-6.col-md-3
      .input-group
        .input-group-addon key
        input.form-control(type='text', placeholder='请输入key', ng-model='etcdPage.addNode.key')
    .col-xs-6.col-md-3
      .input-group
        .input-group-addon ttl
        input.form-control(type='text', placeholder='请输入ttl，可选', ng-model='etcdPage.addNode.ttl')
    .col-xs-6.col-md-3
      .input-group
        .input-group-addon
          input(type='checkbox', ng-model='etcdPage.addNode.dir')
        span.form-control 是否为dir
    .col-xs-6.col-md-3
      .input-group
        .input-group-addon 模板选择
        span.form-control
          a.glyphicons.glyphicons-display(title='backend', href='javascript:;', ng-click='etcdPage.template("backend")')
    .col-xs-12
      jt-code-mirror(ng-if='etcdPage.addNode.show', on-save='etcdPage.save(value)', ng-hide='etcdPage.addNode.status === "submitting"', on-cancel='etcdPage.cancelAdd()', jt-value='etcdPage.addNode.value')
      .loadingContainer.mtop10(ng-show='etcdPage.addNode.status === "submitting"')
        p.text-center
          span.loading &nbsp;
          | 正在提交保存，请稍候...

block bodyContainer
  .etcdPage(ng-controller='EtcdPageController as etcdPage')
    include ./nav
    header.headerContainer
      h3.text-center ETCD
    
    .contentContainer
    
      .loadingContainer(ng-hide='etcdPage.data.status !== "loading"')
        p.text-center
          span.loading &nbsp;
          | 正在加载中，请稍候...
      .alert.alert-danger.hidden(ng-class='{hidden : etcdPage.data.status !== "error"}') 加载数据失败，
        span(ng-bind='etcdPage.data.error')
        
      .etcdNodeList(ng-hide='etcdPage.addNode.show')
        +EtcdNodeList
      .addNodeContainer.hidden(ng-class='{hidden : !etcdPage.addNode.show}')
        +AddNodeContainer
      .addBtnContainer
        a.btn.btn-primary(href='javascript:;', ng-click='etcdPage.addNode.show = !etcdPage.addNode.show') 
          span(ng-show='!etcdPage.addNode.show') 添 加
          span.hidden(ng-class='{hidden : !etcdPage.addNode.show}') 取 消
  - importer.import('/component/codemirror.js', '/css/codemirror.css');
  - importer.import('/js/etcd.js');
  - importer.import('/css/etcd.css');
