extends ./layout

mixin EtcdNodeList()
  p.text-center.loading(ng-hide='etcdPage.data.status !== "loading"') 正在加载中，请稍候...
  .alert.alert-danger.hidden(ng-class='{hidden : etcdPage.data.status !== "error"}') 加载数据失败，
    span(ng-bind='etcdPage.data.error')
  .nodes.hidden(ng-class='{hidden : etcdPage.data.status !== "success"}')
    .path
      span.glyphicons.glyphicons-google-maps
      span(ng-repeat='path in etcdPage.data.paths')
        a(ng-bind='path', href='javascript:;', ng-click='etcdPage.showPath($index)')
        span.glyphicons.glyphicons-chevron-right(ng-if='!$last')
    .panel.panel-default(ng-repeat='node in etcdPage.data.nodes[etcdPage.data.currentPath]')
      .panel-heading
        span.pull-right(ng-if='node.dir')
          a.glyphicons.glyphicons-plus(href='javascript:;')
          a.glyphicons.glyphicons-chevron-right(href='javascript:;', ng-click='etcdPage.show(node)')

        a.glyphicons.glyphicons-edit.pull-right(ng-if='!node.dir && !node.modifing', href='javascript:;', ng-click='etcdPage.modify(node)')
        .panel-title(ng-bind='::node.key')
      .panel-body(ng-if='!node.dir')
        pre(ng-bind='::node.value', jt-code-mirror='node', ng-hide='node.modifing')
  

block bodyContainer
  .etcdPage(ng-controller='EtcdPageController as etcdPage')
    include ./nav
    header.headerContainer
      h3.text-center ETCD
    
    .contentContainer
      .etcdNodeList
        +EtcdNodeList()
  
  - importer.import('/component/codemirror.js', '/css/codemirror.css');
  - importer.import('/js/etcd.js');
  - importer.import('/css/etcd.css');
