extends ./layout

block append templateContainer
  script#confirmToDelTpl(type='text/tpl')
    jt-dialog.dialog.etcdConfirmDelDialog
      .title 确定删除该节点？
        a.pull-right.destroy(href='javascript:;'): span.glyphicons.glyphicons-remove-2
      .content
        p xxxxx


mixin EtcdNodeList(nodes)
  .panel.panel-default 
    .panel-heading 
      a.glyphicons.glyphicons-plus.pull-right(href='javascript:;', title='添加数据节点', ng-click='etcdPage.nodeConf.show = !etcdPage.nodeConf.show')
      | etcd数据节点
    p.text-center.loading(ng-hide='etcdPage.data.status !== "loading"') 正在加载中，请稍候...
    table.table.hidden(ng-class='{hidden : etcdPage.data.status !== "success"}')
      thead: tr
        th key
        th value
        th ttl
        th.op op
      tbody
        tr(ng-repeat='node in etcdPage.data.nodes')
          td(ng-bind='node.key')
          td(ng-bind='node.value')
          td(ng-bind='node.ttl')
          td.op
            span(ng-show='node.status !== "doing"')
              a(href='javascript:;', ng-if='node.dir', ng-click='etcdPage.open(node)', ng-class='{disabled : node.open}')
                span.glyphicons.glyphicons-list
              a(href='javascript:;', ng-click='etcdPage.edit(node)')
                span.glyphicons.glyphicons-edit
              a(href='javascript:;', ng-click='etcdPage.del(node)')
                span.glyphicons.glyphicons-remove-2
            span(ng-show='node.status === "doing"') ...

mixin AddNodeContainer
  .row.clearfix(ng-init='node = etcdPage.data.node')
    .col-xs-5
      .input-group
        .input-group-addon key
        input.form-control(type='text', placeholder='请输入key', ng-model='node.key')
    .col-xs-5
      .input-group
        .input-group-addon ttl
        input.form-control(type='text', placeholder='请输入ttl，可选', ng-model='node.ttl')
    .col-xs-2
      .input-group
        .input-group-addon
          input(type='checkbox', ng-model='node.dir')
        span.form-control 是否为dir
    .col-xs-12.nodeValue
      .input-group
        .input-group-addon value
        input.form-control(type='text', placeholder='请输入该节点的数据', ng-model='node.value', ng-disabled='node.dir')
  .alert-danger.alert(ng-bind='etcdPage.nodeConf.error', ng-show='etcdPage.nodeConf.status === "error"')
  .alert.alert-success(ng-show='etcdPage.nodeConf.status === "success"') 添加数据成功，2秒后将自动刷新页面...
  .alert.alert-info(ng-show='etcdPage.nodeConf.status === "submitting"') 正在提交数据，请稍候...
  a.btn.btn-primary(href='javascript:;', ng-click='etcdPage.add()') 保 存

block bodyContainer
  .etcdPage(ng-controller='EtcdPageController as etcdPage')
    include ./nav
    header.headerContainer
      h3.text-center ETCD
    .contentContainer
      if viewData.err
        .alert.alert-danger 加载数据失败！
      else
        .etcdNodeList
          +EtcdNodeList(viewData.nodes)
      .addNodeContainer.hidden(ng-class='{hidden : !etcdPage.nodeConf.show}')
        +AddNodeContainer
      

        
  - importer.import('/js/etcd.js');
  - importer.import('/css/etcd.css');
