- var page = viewData.page;
nav.navContainer
  ul
    li(class='#{page === "home"? "active" : ""}')
      a.text-center.logo(href='#{URL("/")}', title='supervisor')
        span.glyphicons.glyphicons-home
        | home
    li(class='#{page === "etcd"? "active" : ""}')
      a.text-center.etcd(href='#{URL("/etcd")}', title='etcd')
        span.glyphicons.glyphicons-database
        | etcd
- importer.import('/css/nav.css');
