extends ./layout

block bodyContainer
  .settingPage(ng-controller='SettingPageController as settingPage')
    include ./nav
    header.headerContainer
      h3.text-center 配置信息

  - importer.import('/js/setting.js');
  - importer.import('/css/setting.css');