extends ./layout

mixin Search
  .input-group
    input.form-control(type='text', placeholder='Search for varnish backends...', ng-model='varnishPage.searchOptions.keyword')
    span.input-group-btn
      button.btn.btn-default(ng-click='varnishPage.search(varnishPage.searchOptions.keyword)') GO!

mixin Backend
  .col-xs-3
    .wrap: .content
      span.glyphicons.glyphicons-calendar
      | 配置文件更新
      br
      span.value(ng-bind='::node.updatedAt')
    .wrap: .content
      span.glyphicons.glyphicons-paperclip
      | 配置文件版本号
      br
      span.value(ng-bind='::node.version')
    .wrap: .content
      span.glyphicons.glyphicons-multiple-displays
      | 后端服务器列表
      ul.backends
        li(ng-repeat='backend in node.backends')
          .field
            span.key 地址
            span.value(ng-bind='::backend.ip')
          .field
            span.key 端口
            span.value(ng-bind='::backend.port')
          .field(ng-if='::backend.prefix')
            span.key 前缀
            span.value(ng-bind='::backend.prefix')
          .field(ng-if='::backend.host')
            span.key 域名
            span.value(ng-bind='::backend.host')
  .col-xs-9.vclContainer.hidden(jt-fix-height='full-parent', ng-if='node')
    .wrap
      a.glyphicons.glyphicons-resize-full(href='javascript:;', ng-click='varnishPage.fullScreen(node.vcl)')
      .content
        pre(ng-bind='::node.vcl')
  .col-xs-12.hidden.mtop15(ng-class='{hidden : !node.statsStatus}')
    .wrap
      pre(ng-bind='node.stats', ng-show='node.statsStatus === "success"')
      .loadingContainer(ng-show='node.statsStatus === "loading"')
        p.text-center
          span.loading &nbsp;
          | 正在获取数据，请稍候...
      .alert.alert-danger(ng-show='node.statsStatus === "error"', ng-bind='node.error')
          
      
mixin NodeList
  .nodeList.hidden(ng-class='{hidden: varnishPage.searchOptions.status !== "success"}')
    .panel.panel-default(ng-repeat='node in varnishPage.searchOptions.nodes')
      .panel-heading
        .panel-title
          span(ng-bind='::(node.ip + ":" + node.port)')
          .pull-right
            a.glyphicons.glyphicons-stats(href='jajavascript:;', ng-click='varnishPage.showStats(node)')
      .panel-body
        .row
          +Backend
          
block bodyContainer
  .homePage(ng-controller='VarnishPageController as varnishPage')
    include ./nav
    header.headerContainer
      h3.text-center Varnish
    
    .contentContainer
      +Search
      .mtop10
        +NodeList
        .alert.alert-warning.hidden(ng-class='{hidden: varnishPage.searchOptions.status !== "warning"}') varnish keyword can not be null!
        .loadingContainer.hidden(ng-class='{hidden: varnishPage.searchOptions.status !== "loading"}')
          p.text-center
            span.loading &nbsp;
            | 正在获取数据，请稍候...
        .alert.alert-danger.hidden(ng-class='{hidden: varnishPage.searchOptions.status !== "error"}', ng-bind='varnishPage.searchOptions.error')
    .fullScreenView.hidden(ng-class='{hidden : varnishPage.viewVcl.mode !== "full"}')
      a.glyphicons.glyphicons-resize-small(href='javascript:;', ng-click='varnishPage.viewVcl.mode = "normal"')
      pre(ng-bind='varnishPage.viewVcl.value', jt-fix-height='full-parent', ng-if='varnishPage.viewVcl.mode === "full"')
  - importer.import('/js/varnish.js');
  - importer.import('/css/varnish.css');
