extends ../layout

block bodyContainer
  .varnishMonitorPage(ng-controller='VarnishMonitorController as varnishMonitor')
    include ../nav
    header.headerContainer
      h3.text-center Varnish服务器统计

  - importer.import('/js/varnish/service.js');
  - importer.import('/js/varnish/monitor.js');
  - importer.import('/css/varnish/monitor.css');