extends ../layout

mixin StatsConfig
  .statsConfig(ng-init='statsConfig = varnishStats.statsConfig')
    .row
      .col-xs-3
        .input-group
          span.input-group-addon 时间间隔
          input.form-control(type='text', placeholder='统计的间隔时间', ng-model='statsConfig.interval')
          span.input-group-addon 秒
      .col-xs-2
        .btn-group.quotaSelector
          button.btn.btn-primary.dropdown-toggle(type='button') 指标选择
            .caret
          ul.dropdown-menu(role='menu')
            li(ng-repeat='quota in varnishStats.quotaList')
              a(href='javascript:;', ng-click='quota.checked = !quota.checked')
                span.glyphicons(ng-class='{"glyphicons-unchecked" : !quota.checked, "glyphicons-check" : quota.checked}')
                span(ng-bind='::quota.name')
      .col-xs-2
        a.btn.btn-primary.start(ng-click='varnishStats.start()') 开始
    .alert.alert-danger.hidden.mtop15(ng-class='{hidden : statsConfig.status !== "error"}', ng-bind='statsConfig.error')

mixin StatsView
  .row: .col-xs-6(ng-repeat='stats in varnishStats.statsList'): .panel.panel-default
    .panel-heading
      span(ng-bind='::stats.name')
      | 监控列表，更新于：
      span(ng-bind='stats.createdAt | date : "yyyy-MM-dd HH:mm:ss"')
    table.table(jt-table='fixedHead')
      thead: tr
        th 名称
        th c1
        th c2
        th c5
        th c10
        th 总量
      tbody
        tr(ng-repeat='item in stats.stats')
          td(ng-bind='::item.name')
          td(ng-bind='item[1]')
          td(ng-bind='item[2]')
          td(ng-bind='item[5]')
          td(ng-bind='item[10]')
          td(ng-bind='item.v | number : 0')
block bodyContainer
  .varnishStatsPage(ng-controller='VarnishStatsController as varnishStats')
    include ../nav
    header.headerContainer
      h3.text-center Varnish服务器统计
    +StatsConfig
    .statsContainer.hidden(ng-class='{hidden : !varnishStats.init}')
      +StatsView

  - importer.import('/js/varnish/service.js');
  - importer.import('/js/varnish/stats.js');
  - importer.import('/css/varnish/stats.css');