@import 'nib'
@import '../constant'

headerContainerCss()
  height $HEADER_HEIGHT
  line-height @height
  background-color #fcfcfc
  border-bottom 1px solid #cbccce
  h3
    margin 0
    line-height $HEADER_HEIGHT
      


.varnishPage
  margin-left $NAV_WIDTH
  .headerContainer
    headerContainerCss()
  .dialog
    width 80%
  .vclDialog
    .code
      height 400px
  .statsDialog
    .statsContainer
      height 400px
      overflow auto
      .desc
        width 80px
      .change
        width 30%
      .total
        width 30%

  .varnishList
    margin 15px
    .opList
      width 90px
      a
        margin-right 8px
        text-decoration none
        color #4d4d4d
        &:hover
          color #bc2328