@import 'nib'
@import '../constant'

headerContainerCss()
  height $HEADER_HEIGHT
  line-height @height
  background-color #fcfcfc
  border-bottom 1px solid #cbccce
  h3
    margin 0
    line-height $HEADER_HEIGHT
      
statsConfigCss()
  margin 15px
  .quotaSelector
    .caret
      margin-left 5px
    &:hover
      padding-bottom 3px
      .dropdown-menu
        margin 0
        display block

.varnishStatsPage
  margin-left $NAV_WIDTH
  .headerContainer
    headerContainerCss()
  .statsConfig
    statsConfigCss()
  .statsContainer
    margin 15px