@import 'nib'
@import './common'

// body
//   visibility hidden

.backendPage
  margin-left $NAV_WIDTH
  .headerContainer
    headerContainerCss()

  .backendList
    margin 15px
    table
      width 100%

  .backendSelector
    margin 15px
    .pure-button
      margin-right 5px
      padding 0.5em 1.5em

  .statsContainer
    margin 15px
    http-stats
      display block
      .code
        padding 1em
        border 1px solid #eee
        overflow-x auto
        -webkit-overflow-scrolling touch
        background-color rgb(250, 250, 250)
        font-family Consolas, Courier, monospace
        color #333
