@import 'nib'
@import './constant'

headerContainerCss()
  height $HEADER_HEIGHT
  line-height @height
  background-color #fcfcfc
  border-bottom 1px solid #cbccce
  h3
    margin 0
    line-height $HEADER_HEIGHT
      
backendListCss()
  .talbe
    display block
    
addBackendCss()
  .col-xs-6, .col-sm-4
    margin-bottom 15px
  .btn
    display block

.backendPage
  margin-left $NAV_WIDTH
  .headerContainer
    headerContainerCss()
  .add
    display block
  .backendList
    backendListCss()
  .addBackend
    addBackendCss()
  