@import 'nib'
@import './common'

// body
//   visibility hidden

.backendPage
  margin-left $NAV_WIDTH
  .headerContainer
    headerContainerCss()

  .backendList
    margin 15px
    table
      width 100%

  .backendSelector
    margin 15px
    .pure-button
      margin-right 5px
      padding 0.5em 1.5em
