@import 'nib'
@import './constant'
body
  background-color $BG_COLOR
.loading
  background-image url(../img/loading.gif)
  background-repeat no-repeat
.mtop5
  margin-top 5px
.mbottom5
  margin-bottom 5px
.mtop10
  margin-top 10px
.mtop15
  margin-top 15px
.mleft5
  margin-left 5px
.mleft10
  margin-left 10px
.mleft15
  margin-left 15px
.font12
  font-size 12px
