@import 'nib'
@import './constant'

// body
//   visibility hidden

.mtop5
  margin-top 5px
.mtop10
  margin-top 10px
.mtop15
  margin-top 15px
.mleft5
  margin-left 5px
.mleft10
  margin-left 10px
.mleft15
  margin-left 15px
.mrgith5
  margin-right 5px
.mrgith10
  margin-right 10px
.mrgith15
  margin-right 15px
.font12
  font-size 12px
.font13
  font-size 13px
.font14
  font-size 14px
.font16
  font-size 16px
.font18
  font-size 18px

  