@import 'nib'
@import './constant'
.navContainer
  width $NAV_WIDTH
  position fixed
  left 0
  top 0
  bottom 0
  background-color #252024
  ul
    margin 0
    padding 0
    li.active a
      color #fff
    a
      display block
      padding 20px 0
      line-height 20px
      font-size 14px
      color #6e6d73
      transition background-color color 0.5s
      text-decoration none
      i
        display block
      &:hover
        color #fff
        background-color #201b1f
    
