@import 'nib'
@import './constant'

headerContainerCss()
  height $HEADER_HEIGHT
  line-height @height
  background-color #fcfcfc
  border-bottom 1px solid #cbccce
  h3
    margin 0
    line-height $HEADER_HEIGHT
      


.varnishPage
  margin-left $NAV_WIDTH
  .headerContainer
    headerContainerCss()
  .backendsDialog
    width 800px
  .varnishList
    .opList
      width 80px
      a
        margin-right 5px
        text-decoration none