@import 'nib'
@import './constant'

headerContainerCss()
  height $HEADER_HEIGHT
  line-height @height
  background-color #fcfcfc
  border-bottom 1px solid #cbccce
  .functions
    line-height 30px
    margin-top (($HEADER_HEIGHT - @line-height) / 2)
    li
      list-style none
      display inline-block
      margin 0 10px
      &.login a
        color #27c24c
      a
        color #717171
        font-size 13px
  h3
    margin 0
    line-height $HEADER_HEIGHT

nodeListCss()
  .panel
    .glyphicons
      width 14px
      margin-right 5px
      color #337ab7
    .panel-body
      color #666
      .wrap
        padding 4px
        border 1px solid #ddd
        background-color #fff
        border-radius 4px
        margin-bottom 15px
        &:last-child
          margin-bottom 0
        .content
          background-color #f5f5f5
          padding 10px
      .value
        color #333
      .backends
        padding-left 20px
        margin-bottom 0
        li
          border-bottom 1px dashed #666
          padding 5px 0
          &:last-child
            border-bottom none
          span
            display inline-block
            &.key
              text-align right
              margin-right 10px
      .vclContainer
        height 100%
        .wrap
          height 100%
          position relative
          .glyphicons
            position absolute
            right 0
            top 5px
            color #bc2328
          .content
            max-height 100%
            overflow-y scroll
          pre
            border none
            margin 0
            padding 0
      .loadingContainer
        margin 10px 0

.homePage
  margin-left $NAV_WIDTH
  .headerContainer
    headerContainerCss()
  .contentContainer
    margin 15px
    .loadingContainer
      line-height 32px
      .loading
        width 50px
        display inline-block
    .nodeList
      nodeListCss()
  .fullScreenView
    position fixed
    left 0
    top 0
    right 0
    bottom 0
    z-index 9
    padding 5px
    background-color #fff
    .glyphicons
      position absolute
      right 8px
      top 8px
      color #bc2328
      font-size 16px
    pre
      overflow-y scroll
